.banner {
  background-image: url("main.jpg");
  background-size: cover;
  width: 100vw;
  height: 400px;
  padding: 40px 0;
}

h1, .banner p {color: white;}

h1 {
  font-family: 'Delicious Handrawn', cursive;
  font-family: 'Nunito', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color:rgb(150, 150, 150);
  font-weight: bolder;
  font-size: 30px;
}

p, a {
  font-family: 'Lora', serif;
  line-height: 2;
}

.container {
  width: 700px;
  margin: 0 auto;
}

body {
  line-height: 1.6;
  margin: 0;
}

#container-margin {
  margin-top: 120px;
}

#container-size, a {
  font-size: 25px;
}

@media(max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 900px;
  }
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 100%;
    max-width: 600px;
  }
}

@media(max-width: 576px) {
  .container {
    width: 100%;
    max-width: 400px;
  }
}

a {
  text-decoration: none;
  color:rgb(126, 120, 120);
  background-color: rgb(46, 42, 42);
  padding: 8px;
  border-radius: 10px;
}

a:hover {
  box-shadow: 0 0 5px black;
  background-color: rgb(46, 46, 46);
}
